.outerBox {
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
  }
  
  .inner-about-contact {
    /* color: #3d005b; */
    color: #C0A1FF;
  }
  
  .listItem {
    display: inline-block;
    padding-right: 10px;
    font-size: 40px;
  }
  
  @media (max-width: 500px) {
  
  
  }
  